.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    box-shadow: 0 0 2px solid black;
    width:50%;
    margin-left: 35%;
}
.btn{
    width: 100px;
    height: 40px;
    color: blue;
    background-color: transparent;
    border-radius: 5px;
    gap: 18px;
}